:root {
    --color-up-down: #315949;
    --color-main: #70D8B0;
    --color-navbar: #282C34;
}

body {
    font-family: 'Kaisei Opti', serif;
    overflow-x: hidden;
}

.color-up-down {
    background-color: var(--color-up-down);

}

.color-main {
    background-color: var(--color-main);

}

.subcontainer-up {
    display: inline;
}



figure img {
    width: 175px;
    height: 175px;
    border-radius: 20px;
    object-fit: cover;
}


.btn-left {
    margin-right: 15px;
}

.btn-right {
    margin-right: 50px;
}

a img {
    width: 100px;
    height: 50px;
}

.color-nav {
    background-color: var(--color-navbar);
    position: sticky;
    top: 0;
}

#nav-ul .nav-item-color {
    color: white;
    font-size: 1.3rem;
}

#navbarNav {
    justify-content: flex-end;
}

.poke-selec div img {
    width: 50px;
    height: 50px;
    margin-bottom: 11px;
}

.btn-color{
    background: white !important;
}

@media (max-width: 768px) {
    .container-up {
        height: 200px;
    }

    .container-down {
        height: 200px;
    }


    .galar {
        border-bottom: 2px solid white;
    }

    .title-desktop {
        display: none;
    }


}


@media (min-width: 768px) {
    .container-dropdown {
        display: none;
    }

    .title-mobile {
        display: none;
    }

    .title-desktop {
        padding: 10px 0;
    }

    .text-down {
        padding-top: 10px;
        padding-bottom: 80px;
    }

    .btn-sm {
        padding: .40rem 1.0rem;
        font-size: 1.1rem;
        border-radius: 0.4rem;
    }

    .img-pokemon{
        width: 350px;
        height: 350px;
    }


}

/* COLORS TYPE */
.fire_p{
    background: red;
    color: white;
}

.water_p{
    background: blue;
    color: white;
}

.fly_p{
    background: skyblue;
    color: white;
}

.bug_p{
    background: greenyellow;
    color: white;
}

.grass_p{
    background: green;
    color: white;
}

.normal_p{
    background: gray;
    color: white;
}

.electric_p{
    background: yellow;
    color: white;
}

.ice_p{
    background: #66CCFF;
    color: white;
}

.fighting_p{
    background: orange;
    color: white;
}

.poison_p{
    background: purple;
    color: white;
}

.ground_p{
    background: burlywood;
    color: white;
}

.spychic_p{
    background: palevioletred;
    color: white;
}

.rock_p{
    background: #B9A966;
    color: white;
}

.ghost_p{
    background: #6667BC;
    color: white;
}

.dragon_p{
    background: #7766ED;
    color: white;
}

.dark_p{
    background: brown;
    color: white;
}

.steel_p{
    background: #AAAABB;
    color: white;
}

.fairy_p{
    background: violet;
    color: white;
}

.none_p {
    background: white;
    color: black !important ;
}
